@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
    --primary-accent-h: 0;
    --primary-accent-s: 0;
    --primary-accent-l: 92;
    --threshold: 55;
    --switch: calc((var(--primary-accent-l) - var(--threshold)) * -100%);
    --c-primary-accent-color: hsl(
        var(--primary-accent-h),
        calc(var(--primary-accent-s) * 1%),
        calc(var(--primary-accent-l) * 1%)
    );
    --c-primary-accent-contrast-color: hsl(0, 0%, var(--switch));
    --c-primary-accent-hover-color: hsla(var(--primary-accent-h), 50%, 65%, 1);
}

/* Styles */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #eaeaea;
    background-color: var(--c-primary-accent-color, #eaeaea);
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
    color: #333;
    color: var(--c-primary-accent-contrast-color, #333);
}

.controlPanel {
    background-color: #fff;
    position: absolute;
    color: #333;
    top: 0;
    left: -350px;
    height: 100%;
    width: 300px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: 0px 0 6px rgba(40, 40, 40, 0.6),
        10px 0 16px rgba(40, 40, 40, 0.4);
    box-shadow: 0px 0 6px rgba(40, 40, 40, 0.6),
        10px 0 16px rgba(40, 40, 40, 0.4);
    z-index: 10;
}

.controlPanel.active {
    left: 0;
}

.controlPanel-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #aeaeae;
    padding: 1.5rem;
}

.controlPanel-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
}

.controlPanel-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.4rem;
    color: #fff;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
}

.menu {
    position: absolute;
    left: 3rem;
    top: 3rem;
    font-size: 1.6rem;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #eaeaea;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.controlPanel-body {
    padding: 1.5rem;
}

.control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
    display: flex;
}

.colorInput {
    border: 1px solid #333;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
}

.mainContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 100vh;
}

.mainTitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.2rem;
    margin-bottom: 4.2rem;
}

.btn {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    border: 2px solid #333;
    border: 2px solid var(--c-primary-accent-contrast-color, #333);
    background-color: transparent;
    color: #333;
    color: var(--c-primary-accent-contrast-color, #333);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--c-primary-accent-hover-color);
}
