* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #4de0e5;
    color: #fafafa;
    font-family: "Bangers", cursive;
    min-height: 100vh;
    font-size: 3rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn {
    padding: 1.5rem 3rem;
    background-color: #fff;
    color: #4de0e5;
    text-shadow: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.btn:hover {
    color: darken(#4de0e5, 20%);
}

.btn:focus,
.btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* App styles */

.app-title {
    font-size: 8rem;
    position: fixed;
    top: 6rem;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    text-align: center;
}

.score {
    position: fixed;
    top: 6rem;
    right: 6rem;
    min-width: 6rem;
    height: 6rem;
    font-size: 4rem;
    background-color: #fff;
    padding: 1.5rem;
    color: #404040;
    text-shadow: none;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.score::after {
    content: "My Score";
    color: #fff;
    position: absolute;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    bottom: -6rem;
    min-width: 10rem;
    white-space: nowrap;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section {
    position: relative;
}

.section-title {
    font-size: 5rem;
    margin-bottom: 4.2rem;
    text-align: center;
}

.operations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.operation {
    margin: 0 1.5rem;
}

.operator {
    position: absolute;
    bottom: 1.5rem;
    left: -6rem;
}

.operator.add::before,
.operator.subtract::before,
.operator.multiply::before {
    content: "";
    display: block;
    color: #404040;
    width: 8rem;
    height: 8rem;
    font-size: 8rem;
}

.operator.add::before {
    content: "+";
}

.operator.subtract::before {
    content: "-";
}

.operator.multiply::before {
    content: "x";
}

.level {
    margin-bottom: 3rem;
}

.level:hover {
    color: #fff;
}

.level--easy {
    background-color: #c2ef81;
    color: darken(#c2ef81, 55%);
}

.level--easy:hover {
    color: darken(#c2ef81, 55%);
}

.level--normal {
    color: #4f4f4f;
}

.level--normal:hover {
    color: #4f4f4f;
}

.level--hard {
    background-color: red;
    color: #fff;
}

.term {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.userInput,
.digit {
    font-family: "Bangers", cursive;
    background-color: #fff;
    border: 2px solid #333;
    color: #404040;
    text-shadow: none;
    font-size: 5rem;
    line-height: 60px;
    text-align: center;
    width: 60px;
    height: 60px;
    margin: 0.75rem;
    border-radius: 6px;
}

.line {
    height: 6px;
    background-color: #404040;
    width: 100%;
    margin: 1.5rem 0 0 0;
}

.btn--checkResult {
    font-family: "Bangers", cursive;
    font-size: 4rem;
    padding: 1.5 3rem;
    border: 0;
    position: fixed;
    right: 6rem;
    bottom: 6rem;
    border-radius: 30px;
    background-color: orangered;
    color: #fff;
}

.btn--checkResult:active,
.btn--checkResult:focus {
    outline: none;
}

.btn--checkResult:hover {
    color: #fff;
}

.btn--restart {
    border-radius: 50%;
    color: #404040;
    background-color: #efee18;
    border: 0;
    position: fixed;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    padding: 0;
    left: 6rem;
    bottom: 6rem;
}

.btn--restart:hover {
    color: #404040;
}

.modalWrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.modal {
    background-color: #fff;
    min-height: 40%;
    padding: 1.5rem;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #404040;
    text-align: center;
}

.btn--modalClose {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border-radius: 50%;
    font-size: 4rem;
    color: #404040;
    border: 0;
    width: 35px;
    height: 35px;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hidden {
    display: none;
}
