@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: local("Oswald Regular"), local("Oswald-Regular"),
        url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8G.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: #eafeff;
    font-family: "Oswald", sans-serif;
    color: #4e4a4f;
    padding: 3rem;
    max-width: 1340px;
    margin: 0 auto;
    line-height: 1.5;
}

.title {
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.description {
    color: #626e6f;
    font-size: 1.2rem;
    margin-bottom: 8rem;
}

/* ==== TIMELINE ==== */
#tLine {
    margin: 3rem;
    font-size: 1rem;
}
.ftg-tLine {
    position: relative;
    border-bottom: 1px solid #eee;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}
.tLine-allDates {
    background-color: #a4a4a4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3px;
    margin: 6rem 0 3rem 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.tLine-allDates-slide {
    position: absolute;
    top: -70px;
    min-width: 80px;
    padding: 0.75rem;
    background-color: #ff005a;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tLine-allDates-slide:after {
    content: "";
    position: absolute;
    left: 42%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ff005a;
    clear: both;
}
.tooltipDate {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.tooltipDate span:first-child {
    margin-right: 0.75rem;
    opacity: 0.65;
}
.tooltipDate span:first-child:hover {
    opacity: 0.9;
}
.tooltipDate span:last-child {
    margin-left: 0.75rem;
    opacity: 0.65;
}
.tooltipDate span:last-child:hover {
    opacity: 0.9;
}
.tLine-date {
    visibility: hidden;
    position: relative;
    left: -10px;
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
.tLine-date:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #777;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    background-color: #bcbcbc;
}
.tLine-date:not(.isActive):hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.tLine-date.isActive {
    color: #ff005a;
}
.tLine-date.isActive:before {
    border-color: #b3003f;
    background-color: #ff337b;
}
.tLine-date .tLine-date-label {
    display: block;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    min-width: 55px;
}
.tLine-date-label {
    display: none;
    position: absolute;
    top: 6px;
    left: -16.5px;
    text-align: center;
}

@media all and (min-width: 68.75em) {
    .tLine-date .tLine-date-label {
        font-size: 1.3rem;
    }
}
