@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

/* ---- TYPOGRAPHY ---- */
p {
    margin-bottom: 1.25em;
    line-height: 1.5;
    color: #fafafa;
}

a {
    color: #021d44;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 5.653em;
}

h2 {
    font-size: 3.998em;
}

h3 {
    font-size: 2.827em;
}

h4 {
    font-size: 1.999em;
}

h5 {
    font-size: 1.414em;
}

small,
.text_small {
    font-size: 0.707em;
}

strong {
    font-weight: 700;
    color: #466587;
}

/* ---- BUTTONS ---- */
.btn {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: transparent;
    padding: 1.5rem 2.5rem;
    border: 2px solid #333;
    font-size: 1.6rem;
    min-width: 80px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn--back {
    align-self: flex-start;
}

/* ---- UTILITY CLASSES ---- */
.u-link {
    color: #53f6c7;
    text-decoration: none;
}

.u-link:hover {
    text-decoration: underline;
}

.u-input,
.u-textarea {
    background-color: transparent;
    border: 2px solid #6e6b79;
    color: #6e6b79;
    padding: 1.5rem 2.5rem;
    font-size: 1.6rem;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.u-input:hover,
.u-input:active,
.u-input:focus,
.u-textarea:hover,
.u-textarea:active,
.u-textarea:focus {
    border-color: #53f6c7;
    outline: none;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.divider {
    visibility: hidden;
    padding: 0 1.5rem;
}

/* ---- SCROLL TO TOP ---- */
.scrollTop {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    width: 40px;
    pointer-events: all;
    z-index: 9999;
    cursor: pointer;
}

.scrollTop.visible {
    opacity: 1;
}

.page {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.main {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

/* ---- SECTIONS ---- */
.section {
    min-height: 100vh;
    padding: 80px 0;
    display: -webkit-box;
    display: flex;
}

.section:not(.section--hero) {
    padding-top: 160px;
}

.wrapper {
    padding: 0 3rem 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.section-title {
    color: #53f6c6; /* #2A2830; */
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 4.8rem;
    width: 100%;
    position: relative;
    text-align: center;
}

/* ---- HERO SECTION ---- */
.section--hero {
    background-color: #1d1b24;
    color: #fff;
    display: -webkit-box;
    display: flex;
}

.wrapper--hero {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
}

.greetings {
    font-size: 2.6rem;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.greetings p {
    color: #fff;
    margin-bottom: 0;
}

.tag {
    color: #53f6c7;
}

.greetings--pt,
.description--pt {
    color: rgba(149, 163, 179, 0.75);
    font-size: 1.4rem;
    font-weight: 700;
    font-style: italic;
    width: 100%;
}

.description {
    font-size: 1.6rem;
    font-weight: 500;
    max-width: 1024px;
    margin-bottom: 6rem;
}

.description--pt {
    margin-bottom: 12rem;
}

.hero-highlight {
    color: #53f6c7;
}

.btn--learnMore {
    color: #53f6c7;
    border-color: #53f6c7;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
}

.section--hero .btn--cta {
    margin: 5rem auto 0 auto;
}

.btn--learnMore:hover,
.btn--learnMore:active {
    color: #1d1b24;
    background-color: #53f6c7;
    border-color: #53f6c7;
    text-decoration: none;
}

/* ---- ABOUT SECTION ---- */
.section--about {
    background-color: #201e28;
}

/* .section--about .section-title {
    color: #6e6b79;
} */

.wrapper--about {
    color: #fafafa;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-self: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.about-contents {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.about-contents p {
    color: #d8d5d5;
    font-size: 1.4rem;
}

.btn--cta {
    display: inline-block;
    margin: 5rem auto 0 0;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    color: #53f6c7;
    border-color: #53f6c7;
    font-weight: 700;
    margin: 5rem auto 0 auto;
}

.btn--cta:hover {
    background-color: #53f6c7;
    color: #1d1b24;
    text-decoration: none;
}

/* ---- SKILLS SECTION ---- */
.section--skills {
    background-color: #1d1b24;
}

.section--skills .section-title {
    color: #53f6c6; /* #6e6b79; */
}

.languages {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}

.language-item {
    color: #6e6b79;
    display: -webkit-box;
    display: flex;
    padding: 2.5rem 0;
    width: 100%;
}

.language {
    font-size: 4rem;
    margin-right: 1.5rem;
    min-width: 65px;
}

.total {
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
}

.total-bar {
    border: 2px solid #6e6b79;
    width: 100%;
    padding: 1.5rem;
    position: relative;
    box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.6);
}

.total-bar::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.8);
    background: repeating-linear-gradient(45deg, #6e6b79, #6e6b79 10px, transparent 10px, transparent 20px);
}

.total--html .total-bar::after {
    width: 98%;
}

.total--css .total-bar::after {
    width: 95%;
}

.total--less .total-bar::after {
    width: 85%;
}

.total--js .total-bar::after {
    width: 65%;
}

.total--php .total-bar::after {
    width: 50%;
}

.total--angular .total-bar::after {
    width: 40%;
}

.total--react .total-bar::after {
    width: 40%;
}

.total--wordpress .total-bar::after {
    width: 50%;
}

.total--npm .total-bar::after {
    width: 60%;
}

.total--git .total-bar::after {
    width: 60%;
}

/* ---- CONTACTS SECTION ---- */
.section--contacts {
    background-color: #1d1b24;
}

.section-title--contacts {
    color: #53f6c6; /* #6e6b79; */
    text-align: center;
}

.contact-form {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.contacts-text {
    margin-bottom: 6.2rem;
    text-align: center;
}

.contact-form .input-group {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.contact-form .u-input {
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0 0 2rem 0;
}

.contact-form .u-input:last-child {
    margin-right: 0;
}

.contact-form .u-textarea {
    width: 100%;
}

/* ---- FOOTER ---- */
.wrapper--footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 3rem;
}

.footer {
    background-color: #19171f;
    color: #95a3b3;
}

.footer-contacts {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 3rem;
}

.footer-contacts a {
    color: #95a3b3;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

.footer-contacts a:hover {
    color: #53f6c7;
}

.footer-social {
    text-align: center;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}

.social-item {
    color: #fff;
    text-decoration: none;
    border: 2px solid #95a3b3;
    cursor: pointer;
    margin-right: 1.5rem;
    padding: 1rem;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.social-item:hover {
    color: #53f6c7;
    text-decoration: none;
    border-color: #53f6c7;
}

.social-item:last-child {
    margin-right: 0;
}

.copyright {
    color: #4b4e6d;
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
}

.header {
    background-color: #1d1b24;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 10;
    display: -webkit-box;
    display: flex;
}

.header .wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.header-logo {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.header-logo .logo {
    height: 36px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    margin-right: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.header-logo img {
    align-self: center;
}

/* ---- NAVIGATION ---- */
.nav {
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.nav .blog {
    font-family: 'Montserrat', serif;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 3.5rem;
    position: relative;
    color: #fff;
    text-decoration: none;
}

.blog::after {
    content: '';
    width: 15px;
    height: 15px;
    background: url('../images/portugal.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: -0.75rem;
    right: -2rem;
}

.nav-desktop {
    display: none;
}

.nav-mobile-menu {
    align-self: center;
    color: #fff;
    font-size: 2.8rem;
    -webkit-transition: all.2s ease-in;
    transition: all.2s ease-in;
    cursor: pointer;
}

.nav-mobile-menu:hover {
    color: #53f6c7;
}

/* ---- SIDE NAVIGATION ---- */
.sideNav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #53f6c7;
    z-index: 10;
    height: 100vh;
    padding: 5rem 3rem 3rem;
    width: 100%;
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    z-index: 10000;
}

.sideNav-listItem {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    padding: 1.5rem 0;
    text-align: right;
}

.sideNav-link:hover {
    text-decoration: none;
}

.sideNav.open {
    -webkit-transform: translatex(0);
    transform: translatex(0);
}

.sideNav-close {
    font-size: 3rem;
    cursor: pointer;
    color: #1d1b24;
    position: relative;
    top: -1.5rem;
}

.sideNav-link {
    color: #1d1b24;
}

/* ---- MEDIA QUERIES ---- */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .greetings {
        font-size: 3.2rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 640px) {
    .greetings {
        font-size: 4rem;
    }

    .project {
        margin: 0 2.5rem 2.5rem 0;
        width: calc(50% - 2.5rem);
    }

    .project:nth-child(even) {
        margin-right: 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .wrapper--about {
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        text-align: left;
    }

    .about-subTitle {
        font-size: 2.827em;
    }

    .about-contents {
        text-align: center;
    }

    .about-contents p {
        font-size: 1.8rem;
        line-height: 2.7rem;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .section-title {
        font-size: 10rem;
        margin-bottom: 10rem;
    }

    .greetings {
        font-size: 6.2rem;
        text-align: left;
    }

    .section--hero .btn--cta {
        margin: 5rem auto 0 0;
    }

    .greetings--pt,
    .description--pt {
        font-size: 2.4rem;
    }

    .description {
        font-size: 4.8rem;
    }

    .sideBar {
        display: block;
    }

    .language-item {
        flex-basis: calc(50% - 3.5rem);
        margin-right: 3.5rem;
    }

    .language-item:nth-child(2n) {
        margin-left: 3.5rem;
        margin-right: 0;
    }

    .language {
        font-size: 8rem;
        min-width: 120px;
        color: rgba(255, 255, 255, 0.8);
    }

    .project {
        width: calc(33.333% - 2.5rem);
    }

    .project:nth-child(even) {
        margin-right: 2.5rem;
    }

    .project:nth-child(3n) {
        margin-right: 0;
    }

    .wrapper--footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }

    .footer-contacts {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        margin-bottom: 0;
    }

    .divider {
        visibility: visible;
        padding: 0 1.5rem;
    }

    .sideNav {
        width: 260px;
    }
}
